
    <section class="contact-section my-5 col-lg-12">

      <!-- Form with header -->
      <div class="card">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-8">

            <div class="card-body form">

              <!-- Header -->
              <h3 class="mt-4 mb-2 text-lg-left text-md-center" ><i class="fas fa-envelope pr-2"></i>Write to us:</h3>

              <!-- Grid row -->
              <div class="row" style="margin-bottom: 15px">

                <!-- Grid column -->
                <div class="col-md-10">
                  <div class="md-form mb-0">
                    <input type="text" id="form-contact-name" class="form-control" placeholder="Name">
                  </div>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row" style="margin-bottom: 15px">

                <!-- Grid column -->
                <div class="col-md-10">
                  <div class="md-form">
                    <input type="tel" pattern="/(7|8|9)\d{9}/" required class="form-control" placeholder="phone no">
                  </div>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row" style="margin-bottom: 15px">

                <!-- Grid column -->
                <div class="col-md-10">
                  <div class="md-form">
                    <select required class="form-control">
                      <option value="" disabled selected >selected package</option>
                      <option>Trip@1</option>
                      <option>Trip@2</option>
                      <option>Trip@3</option>
                      <option>Trip@4</option>
                    </select>
                  </div>
                </div>
                <!-- Grid column -->
              </div>
              <!-- Grid row -->

              <!-- Grid row -->
              <div class="row" style="margin-bottom: 15px" >

                <!-- Grid column -->
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <textarea id="form-contact-message" class="form-control md-textarea" rows="3" placeholder="Your comment" ></textarea>
                  </div>
                </div>
                <!-- Grid column -->

              </div>
              <!-- Grid row -->
              <a class="btn btn-outline-primary" style="color: blue">Send</a>
            </div>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-4">

            <div class="card-body contact text-center h-100 white-text">

              <h3 class="my-4 pb-2">Contact information</h3>
              <ul class="text-lg-left list-unstyled ml-4">
                <li>
                  <p><i class="icon ion-md-pin mr-2"></i>Home_no,City_name,state_name</p>
                </li>
                <li>
                  <p><i class="icon ion-md-call mr-2"></i>+**-**********</p>
                </li>
                <li>
                  <p><i class="icon ion-md-mail mr-2"></i>contact@mail.com</p>
                </li>
              </ul>
              <hr class="hr-light my-4">
              <ul class="list-inline text-center list-unstyled">
                <li class="list-inline-item">
                  <a class="p-2 fa-lg tw-ic">
                    <i class="icon ion-logo-facebook" style="font-size: 28px; color:blue"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="p-2 fa-lg li-ic">
                    <i class="icon ion-logo-google" style="font-size: 28px;color:red"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a>
                    <i class="icon ion-logo-twitter" style="font-size: 28px;color:skyblue"> </i>
                  </a>
                </li>
              </ul>

            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Form with header -->

    </section>
<!-- Section: Contact v.3 -->
