
    <div class="container">
      <div class="row row-main">
        <div class="col-xl-12">
          <header class="head text-center">First Journey: Steps</header>
          <p class="p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. 
            Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. 
            Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum 
            lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
            per inceptos himenaeos. 
          </p>
          <div class="row row-1">
            <div class="col-md-6 col-lg-6">
              <div class="timeline-image">
              </div>
            </div>
            <div class="col-md-6 col-lg-6 ">
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h2 class="heading">Step : 1</h2>
                  <h3 class="subheading">subtitle</h3>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                      Sed dignissim lacinia nunc. 
                      Curabitur tortor. Pellentesque nibh. Aenean quam. 
                      In scelerisque sem at dolor. Maecenas mattis. Sed convallis 
                      tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, 
                      iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis 
                      quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, 
                      ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat 
                      condimentum velit. Class aptent taciti sociosqu ad litora torquent per 
                      conubia nostra, per inceptos himenaeos. 
                  </p>
                </div>
              </div>
            </div>
          </div>
          <hr class="w-77">
          <div class="row row-2">
              <div class="col-md-6 col-lg-6">
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h2 class="heading">Step : 1</h2>
                        <h3 class="subheading">subtitle</h3>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">
                            Sed dignissim lacinia nunc. 
                            Curabitur tortor. Pellentesque nibh. Aenean quam. 
                            In scelerisque sem at dolor. Maecenas mattis. Sed convallis 
                            tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, 
                            iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis 
                            quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, 
                            ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat 
                            condimentum velit. Class aptent taciti sociosqu ad litora torquent per 
                            conubia nostra, per inceptos himenaeos. 
                        </p>
                      </div>
                    </div>
              </div>
              <div class="col-md-6 col-lg-6">
                  <div class="timeline-image">
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <a href="#" target="_blank" (click)="opnenContent()">click me</a>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    