<ngb-carousel>
  <ng-template ngbSlide>
    <img src ="../assets/img0.jpg" alt="Random first slide" class="d-block w-100 ">
    <div class="carousel-caption">
      <h3>10 seconds between slides...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src ="../assets/img1.jpg" alt="Random second slide" class="d-block w-100 ">
    <div class="carousel-caption">
      <h3>No mouse events...</h3>
      <p>This carousel doesn't pause or resume on mouse events</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src ="../assets/img2.jpg"  alt="Random third slide" class="d-block w-100 ">
    <div class="carousel-caption">
      <h3>No keyboard...</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src ="assets/img3.jpg" alt="Random fourth slide" class="d-block w-100 ">
    <div class="carousel-caption">
      <h3>And no wrap after last slide.</h3>
      <p>This carousel uses customized default values.</p>
    </div>
  </ng-template>
</ngb-carousel>